@import "markdown.css";

@tailwind base;

:root {
    --color-code-green: #b5f4a5;
    --color-code-yellow: #ffe484;
    --color-code-purple: #d9a9ff;
    --color-code-red: #ff8383;
    --color-code-blue: #93ddfd;
    --color-code-white: #fff;
}

@import "prism-atom-dark.css";
@import "markdown.css";

@tailwind components;

@tailwind utilities;

.bg-dark-card-gradient {
    background: linear-gradient(0deg, #2D3748 0%, #4A5568 100%);
}

.nav-link:after {
    @apply absolute;
    @apply bottom-0;
    @apply border;
    @apply border-solid;
    @apply border-white;
    @apply opacity-0;
    @apply transition-all;
    @apply duration-150;
    @apply ease-in-out;
    content: "";
    left: 25%;
    right: 25%;
}

.nav-link.selected:after, .nav-link:hover:after {
    @apply opacity-100;
}
